<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Saved Places</title>
    <meta name="keywords" content="Save places, Google Maps, Google Places, favorite" />
    <meta name="description" content="Save, categorize, and take notes on your favorite places" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Saved Places">
    <meta itemprop="description" content="Save, categorize, and take notes on your favorite places">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="product">
    <meta name="twitter:title" content="Saved Places">
    <meta name="twitter:description" content="Save, categorize, and take notes on your favorite places">

    <!-- Open Graph data -->
    <meta property="og:title" content="Save, categorize, and take notes on your favorite places" />
    <meta property="og:site_name" content="Saved Places" />

    <!-- CSS -->
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="./css/main.css"/>

    <!-- Custom fonts -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
    <!-- https://google.github.io/material-design-icons/ for more info -->

  </head>
    <body ng-app="savedPlaces" layout="column">

      <md-toolbar layout="row" >
        <h1>Saved Places</h1>
      </md-toolbar>

      <div flex layout="row">
          <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">
            <div ng-controller="CategoriesCtrl">
              <md-list ng-repeat="category in categories track by $index">

                <!-- List item #1 -->
                <md-list-item >
                    <md-button>
                      {{category.label}}
                    </md-button>
                    <md-divider></md-divider>
                </md-list-item>

              </md-list>
            </div>
          </md-sidenav>


        <md-content flex id="content">
        <div ng-controller="ContentCtrl" ng-cloak>
          <md-content class="md-padding" layout-xs="column" layout="row">
            <div flex-xs flex-gt-xs="50" layout="column" ng-repeat="place in places track by $index">
              <md-card>
                <img ng-src="{{place.imagePath}}" class="md-card-image" alt="Picture">
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">{{place.title}}</span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content>
                  <p>
                    {{place.description}}
                  </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button class="md-icon-button" aria-label="Edit">
                    <md-icon class="material-icons">&#xE254;</md-icon>
                  </md-button>
                </md-card-actions>
              </md-card>
            </div>
      </div>
    </body>
  <!-- Framework -->
  <script src="./bower_components/angular/angular.js"></script>
  <script src="./bower_components/angular-animate/angular-animate.js" type="text/javascript" ></script>
  <script src="./bower_components/angular-aria/angular-aria.js" type="text/javascript" ></script>
  <script src="./bower_components/angular-material/angular-material.js" type="text/javascript" ></script>
  <script src="./bower_components/angular-route/angular-route.js" type="text/javascript" ></script>

  <!-- App -->
  <script src="./js/app.js"></script>

  <!-- Controllers -->
  <script src="./js/categories/controller.js"></script>
  <script src="./js/content/controller.js"></script>


</html>
