<div>
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
      <md-input-container class="md-block">
        <input type="text" ng-model="searchTerms" aria-label="Search Notes" placeholder="Search Saved Places" />
      </md-input-container>
      <md-card ng-repeat="place in content.places | active | filter:searchTerms track by $index">
         <md-card-title>
           <md-card-title-text>
             <span class="md-headline">{{place.name}}</span>
             <md-card-content>
               <p>{{place.category}}:</p>
               <pre>{{place.note}}</pre>
             </md-card-content>
           </md-card-title-text>
           <md-card-title-media>
             <img ng-src="{{place.photo}}" class="md-card-image" alt="No Picture">
             <div class="md-media-lg card-media"></div>
           </md-card-title-media>
         </md-card-title>
         <md-card-actions layout="row" layout-align="end center">
           <md-button class="md-icon-button" aria-label="Edit" ng-href="/#/places/{{$index}}">
             <md-icon class="material-icons">&#xE254;</md-icon>
           </md-button>
         </md-card-actions>
       </md-card>
    </div>
  </md-content>
</div>