<div>
  <div layout="column" class="md-padding">
    <form name="placesSearch" novalidate>
      <md-input-container id="alertFrom" class="md-block">
        <label>Keywords</label>
        <input required name="keywords" ng-model="$ctrl.keywords" ng-change="$ctrl.debouncedQueryGooglePlaces($ctrl.keywords)">
        <div ng-messages="placesSearch.keywords.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
    </form>
    <ng-map center="{{$ctrl.center}}" zoom="17"></ng-map>
  </div>
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card class="fade" ng-repeat="place in $ctrl.evenPlaces">
        <img ng-src="{{place.photo}}" class="md-card-image" alt="No Picture">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{place.name}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>{{place.address}}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button md-36" aria-label="Add Place" ng-disabled="false" ng-click="$ctrl.newPlacePrompt(place)">
            <md-icon class="material-icons md-36">&#xE147;</md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card class="fade" ng-repeat="place in $ctrl.oddPlaces">
        <img ng-src="{{place.photo}}" class="md-card-image" alt="No Picture">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{place.name}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>{{place.address}}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button md-36" aria-label="Add Place" ng-disabled="false" ng-click="$ctrl.newPlacePrompt(place)">
            <md-icon class="material-icons md-36">&#xE147;</md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>
</div>