<div>
  <div layout="column" class="md-padding" map-lazy-load="{{$ctrl.googleMapsUrl}}" map-lazy-load-params="{{$ctrl.googleMapsUrl}}">
    <form name="placesSearch" novalidate>
      <md-input-container id="alertFrom" class="md-block">
        <label>Keywords</label>
        <input required name="keywords" ng-model="$ctrl.keywords" ng-change="$ctrl.debouncedQueryGooglePlaces($ctrl.keywords)">
        <div ng-messages="placesSearch.keywords.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
    </form>
    <ng-map center="{{$ctrl.center}}" zoom="13"></ng-map>
  </div>
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card class="fade" ng-repeat="place in $ctrl.evenPlaces track by $index">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">{{place.size}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-{{place.size}} card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card class="fade" ng-repeat="place in $ctrl.oddPlaces track by $index">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">{{place.size}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-{{place.size}} card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>
</div>