<!-- <div> -->
<md-dialog aria-label="Add Place" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Save A Place</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons" aria-label="Close dialog">&#xE888;</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-content layout-padding>

          <div layout="column" class="md-padding">
            <form name="autoComplete" novalidate>
              <md-input-container class="md-block">
                <input required type="text" id="Autocomplete" ng-autocomplete name="address" ng-model="address" details="details" options="options" aria-label="Autocomplete"/>
                <div ng-messages="autoComplete.address.$error" md-auto-hide="false">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </form>
            <div class="map-container">
              <ng-map id="mymap" ng-model="map" center="{{center}}" zoom="13" map-initialized="fixSize()"></ng-map>
            </div>
          </div>

          <form name="userForm">

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Name</label>
                <input ng-model="placeName">
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Category</label>
                <md-select ng-model="placeCategory">
                  <md-option ng-repeat="category in categories" value="{{category}}">
                    {{category}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>

            <md-input-container class="md-block">
              <label>Notes</label>
              <textarea name="note" ng-model="placeNote" md-maxlength="1000" md-select-on-focus></textarea>
            </md-input-container>
          </form>
        <md-content layout-padding>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('useful')">
        Add Place
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
<!-- </div> -->